@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables
$grey: #d0d0d0;

body{
  overflow: hidden;
  font-family: 'Lato', sans-serif!important;
}
.content{
  background-color: $grey;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

// LEFT - PARTIE LISTING
#logoContainer{
  text-align: center;
  width: 100%;
}
#logo{
  margin-top: 20px;
  width: 300px;
}
#minFilter{
  float: left;
  position: absolute;
  .filterLabel{
    margin-top: 10px;
  }
}
#maxFilter{
  float: right;
  .filterLabel{
    margin-top: 10px;
    float: right;
  }
}
.restaurant{
  outline: none!important;
  cursor: pointer;
  outline: none;
}
.id, .name{
  color: #000000;
  font-size: 1.3em;
  font-weight: 600;
}
.id{
  margin-right: 10px;
}
.localize{
  width: 20px;
  height: 20px;
  float: right;
}
.streetview{
  float: right;
  padding-left: 10px;
}

// FORMULAIRES
.textArea{
  resize:none;
  height: 200px;
  background-color: white;
}
.newRatingForm{
  text-align: center;
}
// RIGHT - PARTIE MAP
.map{
  text-align: center;
  z-index: 1;
  background-color: #000000;
  height: 100vh;
}
#help{
  text-align: right;
  z-index: 5!important;
  background-color: white;
  position: absolute;
  width: auto;
  bottom: 24px;
  right: 50px;

  height: auto;
}

// BOUTONS
.btn{
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #000000!important;
}
.btn:hover{
  color: #000000!important;
  background-color: #fff!important;
}

.btn:visited, .btn:focus, .btn:active, .btn:link{
  color: #000000!important;
  background-color: #fff!important;
}
.jq-ry-container{
  cursor: pointer!important;
  padding: 0px!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}
// NAV DESIGN
::-webkit-scrollbar-button{ display: none; height: 13px; border-radius: 0px; background-color: #000000; }
::-webkit-scrollbar-button:hover{ background-color: #000000; }
::-webkit-scrollbar-thumb{ background-color: #000000; }
::-webkit-scrollbar-track{ background-color: #ffff; }
::-webkit-scrollbar-track:hover{ background-color: #fff; }
::-webkit-scrollbar{ width: 3px; }

// MODAL
#placeRestaurant{
  height: 260px;
  min-height: 260px;
  top: 0px!important;
}

// RESIZE
@media screen and (max-width: 1200px) {
  .content{
    height: 60vh;
  }
  .map{
    height: 40vh;
  }
}
